body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

h1{
color:#333;
}

.box{
background:white;
padding:20px;
margin:20px auto;
width:60%;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
margin:8px;
padding:8px;
}

button{
padding:8px 15px;
background:green;
color:white;
border:none;
cursor:pointer;
}

table{
width:100%;
margin-top:10px;
border-collapse:collapse;
}

th,td{
border:1px solid #ccc;
padding:8px;
}
